@use "../mixins.scss" as *;

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

.is-modal-open {
  display: flex !important;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  --header-padding: 20px;
  --header-transform-top: 64px;

  position: absolute;
  justify-self: center;
  top: var(--header-transform-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  max-width: 1920px;
  width: 100%;
  padding-inline: 80px;
  z-index: 1000;

  &.fixed {
    --header-transform-top: 0px;
    position: fixed;
    top: var(--header-transform-top);
    padding-block: var(--header-padding);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      backdrop-filter: blur(12px);
      z-index: -1;
    }
  }

  &__logo {
    @include fluid-text(26, 32);
    font-family: "ChronicleDisplay", serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
    transition: color var(--transition-duration);
    z-index: 200;

    @include hover {
      color: var(--color-text-hover);
    }
  }

  &__menu {
    display: contents;
    width: 100vw;
    max-width: none;
    max-height: none;
    height: 100dvh;
    background-color: transparent;
    backdrop-filter: blur(12px) brightness(0.7);
    border: none;
    margin: 0;
    padding-block: 40px;
    z-index: 100;
    transition: opacity var(--transition-duration);

    &-button {
      position: relative;
      display: none;
      @include button-normalize;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      aspect-ratio: 1;
      padding-block: 5px;
      z-index: 200;
      -webkit-tap-highlight-color: transparent;

      @include hover {
        & span {
          background-color: var(--color-text-hover);
        }
      }

      &.close-mode {
        & span:nth-child(2) {
          transform: translate(6.5px, 5px);
          rotate: 45deg;
        }

        & span:nth-child(3) {
          width: 0;
        }

        & span:nth-child(4) {
          transform: translate(7.5px, -6px);
          rotate: -45deg;
        }
      }

      & span {
        width: 100%;
        height: 2px;
        background-color: var(--color-text);
        transition-property: background-color, transform, rotate, width;
        transition-duration: var(--transition-duration);
      }
    }
  }

  &__nav {
    max-width: 285px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    column-gap: 15px;
  }

  &__link {
    @include fluid-text(16, 18);
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    color: var(--color-text);
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translateX(50%);
      width: 0;
      height: 2px;
      background-color: var(--color-text);
      transition: width var(--transition-duration);
    }

    @include hover {
      &::after {
        width: 100%;
      }
    }
  }

  &__account {
    @include fluid-text(14, 17);
    text-decoration: none;
    color: var(--color-text);
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: fill var(--transition-duration), color var(--transition-duration);

    @include hover {
      color: var(--color-text-hover);

      & svg {
        fill: var(--color-text-hover);
      }
    }
  }
}

@media (max-width: 620px) {
  .header {
    padding-inline: 40px;

    &__menu {
      display: none;
      flex-direction: column;
      row-gap: 40px;
      justify-content: space-between;
      align-items: center;
      opacity: 0;

      &:not(.is-modal-open) {
        display: none;
      }

      &-button {
        display: flex;
      }
    }

    &__nav {
      margin-block: auto;
      flex-direction: column;
      flex-grow: 0;
      row-gap: 30px;
    }
  }
}
