.hiker-level {
  position: relative;
  margin-top: -200px;

  &__observe {
    position: absolute;
    top: 200px;
    width: 100%;
    height: calc(100% - 200px);
  }
}

@media (max-width: 1160px) {
  .hiker-level {
    margin-top: -120px;

    &__observe {
      top: 120px;
      height: calc(100% - 120px);
    }
  }
}
