@use "../mixins.scss" as *;

.scroll-indicator {
  @include top-fixing(right);
  @include fluid-text(16, 18);
  display: flex;
  column-gap: clamp(16px, 2vw, 32px);
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 3px;
    height: 100%;
    background-color: var(--color-text);
    opacity: 50%;
  }

  @media (pointer: fine) {
    &:has(.scroll-indicator__nav a:hover) {
      .scroll-indicator__highlight {
        background-color: var(--color-text-accent);
        opacity: 80%;
      }
    }
  }

  &__highlight {
    width: 3px;
    height: 3.17em;
    background-color: var(--color-text);
    transform: translateY(
      calc(var(--active-index, 0) * (1.4em + 30px + 10px))
    ); /* 1.4em(высота) + 30px(row-gap) + 10px(padding) */
    transition: transform var(--transition-duration) ease-in-out,
      background-color var(--transition-duration);
  }

  &__list {
    --active-index: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;
    list-style: none;

    & a {
      font-family: "Gilroy", sans-serif;
      font-weight: 700;
      color: inherit;
      text-decoration: none;
      justify-content: flex-end;
      transition: transform var(--transition-duration), color var(--transition-duration);
      width: 100%;
      padding: 5px;

      @include hover {
        transform: translateX(10%);
        color: var(--color-text-accent);
      }
    }
  }

  &__nav {
    display: flex;
    color: var(--color-text);
  }
}
