html {
  scroll-padding-top: 109px;
}

body {
  background-color: var(--color-root);
}

:focus-visible {
  outline-width: 3px;
  outline-color: var(--color-text-accent);
  outline-offset: 5px;
  outline-style: dashed;
}
