@use "./functions.scss" as *;

@mixin fluid-text($min, $max) {
  font-size: u-clamp($min, 1200, $max);
}

@mixin button-normalize {
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }

  @media (hover: none), (pointer: coarse) {
    &:active {
      @content;
    }
  }
}

@mixin top-fixing($position) {
  position: absolute;
  top: min(330px, 39%);
  #{$position}: 4%;
  pointer-events: auto;
}
